@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ObjectSans-Regular.woff') format('woff'), url('../fonts/ObjectSans-Regular.ttf')  format('truetype'), url('../fonts/ObjectSans-Regular.svg#ObjectSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/ObjectSans-Medium.otf')  format('opentype'),
	     url('../fonts/ObjectSans-Medium.woff') format('woff'), url('../fonts/ObjectSans-Medium.ttf')  format('truetype'), url('../fonts/ObjectSans-Medium.svg#ObjectSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ObjectSans-Bold.otf')  format('opentype'),
          url('../fonts/ObjectSans-Bold.woff') format('woff'), url('../fonts/ObjectSans-Bold.ttf')  format('truetype'), url('../fonts/ObjectSans-Bold.svg#ObjectSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ObjectSans-Black.woff') format('woff'), url('../fonts/ObjectSans-Black.ttf')  format('truetype'), url('../fonts/ObjectSans-Black.svg#ObjectSans-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}