body {
  overflow-x: hidden;
  // overflow-y: scroll;

  padding-top: $header-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
  font-family: $sans;
  font-size: 14px;
  
  @media (max-width: $mobile) {
    padding-top: 60px;
  }
}

html {
  //-ms-overflow-x: hidden;
  //    overflow-x: hidden;
  overflow-x: inherit;
}

ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

a {
  transition: color 200ms ease;

  &:focus,
  &:active,
  &:focus:active {
    outline: none;
  }
}

input, button, textarea {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  transition: color 250ms ease;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  vertical-align: middle;
  
  transition: fill 250ms ease;
}

.wrapper {
  width: 100%;
  max-width: $wrapper + ($gutter * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;

  box-sizing: border-box;
  
  @media (max-width: $mobile) {
    padding-left: $gutter-mobile;
    padding-right: $gutter-mobile;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  img,
  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.highlight {
  color: $green;
}


.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 18px;
  height: 18px;
  padding: 2px 4px 0 4px;

  background-color: $green;
  border-radius: 9px;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  color: $black;
  text-align: center;
}

.qty {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 35px;
  
  @media (max-width: $mobile) {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
      min-width: 35px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }

  &__plus {
    position: relative;
    width: 100%;
    height: 15px;

    text-indent: -9999px;
    
    @media (max-width: $mobile) {
      transform: none;
      transform-origin: center;
      opacity: 1;
      display: block;
      height: 21px;
      line-height: 21px;
    }

    &:before {
      content: ' ';

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: block;
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-top: 2px solid $dark;
      border-left: 2px solid $dark;

      transform: rotate(45deg);
      
      @media (max-width: $mobile) {
        transform: none;
        border: none;
        width: 4px;
        height: 8px;
        background: url('../images/icons/next.svg') center center no-repeat;
        -webkit-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  &__value {
    width: 100%;
    height: 18px;
    border: none;
    padding: 3px 0 0 0;

    background-color: transparent;

    font-weight: 500;
    font-size: 16px;
    color: $black;
    text-align: center;
    
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__minus {
    position: relative;
    width: 100%;
    height: 15px;

    text-indent: -9999px;
    
    @media (max-width: $mobile) {
      transform-origin: center;
      opacity: 1;
      height: 21px;
      line-height: 21px;
    }

    &:before {
      content: ' ';

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-right: 2px solid $dark;
      border-bottom: 2px solid $dark;

      transform: rotate(45deg);
      
      @media (max-width: $mobile) {
        transform: none;
        border: none;
        width: 4px;
        height: 8px;
        background: url('../images/icons/prev.svg') center center no-repeat;
        -webkit-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}

.ico-added {
  padding-right: 24px;

  background: url(../images/icons/ico-added.png) right top no-repeat;
  background-size: auto 15px;
  
  @media (max-width: $mobile) {
    background: url(../images/icons/ico-added.png) right 10px no-repeat;
    background-size: auto 15px;
  }
}

.flickity-slider {
  @media (max-width: $mobile) {
    width: 75%!important;
  }
}

.hidden-xs {
  @media (max-width: $mobile) {
    display: none!important;
  }
}

.visible-xs {
  display: none!important;
  
  @media (max-width: $mobile) {
    display: flex!important;
  }
}

.btn__wrapper {
  &-social {
    margin-top: 40px;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    
    @media (max-width: $mobile) {
      -webkit-justify-content: center;
              justify-content: center;
        
      .btn.btn-green.btn-submit {
        margin: 0;
      }
    }
  }
}

.validation {
  &__wrapper {
    margin-top: 48px;
    
    @media (max-width: $mobile) {
      max-width: 205px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    &-error {
      p {
        margin: 0;
        font-size: 14px;
        color: #E41B1B;
      }
    }
  }
}


// Tabs
.tab-content {
  & > .tab-pane {
    display: none;
  }

  & > .active {
    display: block;
  }
}

// Cookie
.cookie {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  padding: 25px 0;
  border-top: 1px solid rgba(#979797, 0.2);
  z-index: 1000;
  
  &__in {
    display: flex;
    
    @media (max-width: $mobile) {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }

  &__l {
    margin-right: 35px;
    max-width: 390px;
    
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }

  &__r {
    width: 530px;
    padding-top: 20px;
    
    @media (max-width: $mobile) {
      width: 100%;
      padding-top: 40px;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    
    .btn {
      width: 100%;
      
      @media (max-width: $mobile) {
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__headline {
    span {
      color: #979797;
      font-weight: bold;
      margin: 0 0 5px 0;
      display: block;
      
      @media (max-width: $mobile) {
        font-size: 15px;
      }
    }
  }

  &__content {
    p {
      margin: 0;
      font-size: 15px;
      color: #979797;
      line-height: 150%;
      
      @media (max-width: $mobile) {
        font-size: 13px;
      }
      
      a {
        color: #979797;
        transition: all 200ms ease;
        
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.safari {
  .cookie {
    background: rgba(255,255,255,.8);
    border-top: none;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
  }
}

.video {
  &__block {
    position: relative;

    video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.8);
      transition: all 0.4s;
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }

    &.is-active {
      video {
        transform: scale(1);
        opacity: 1;
        z-index: 10000;
      }
    }
  }
}

.multiselect__option--highlight {
  background: $green!important;
}