$desktop: 1280px;
$tablet: 992px;
$tablet_m: 993px;
$mobile: 767px;
$mobile_m: 768px;

$header-zindex: 2000;
$header-height: 80px;

$wrapper: 1144px;
$gutter: 20px;

$black: #000000;
$dark: #474747;
$white: #FFFFFF;
$gray: #979797;
$gray-light: #F5F5F5;
$red: #E41B1B;
$green: #C2E900;

$sans: "Object Sans", Helvetica, Arial, sans-serif;