.news-container {
  padding: 140px 0 60px 0;
  
  @media (max-width: $mobile) {
    padding-top: 32px;
  }

  &--rounded {
    position: relative;

    &:before {
      content: " ";
  
      position: absolute;
      top: -54px;
      right: 0;
      left: 0;
  
      height: 54px;
  
      border-radius: 27px 27px 0 0;
      background-color: $white;
      
      @media (max-width: $mobile) {
        height: 20px;
        top: -20px;
      }
    }
  }
}

.news-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin: 0 -20px;
  
  @media (max-width: $mobile) {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &--col3 {
    .news-card__col {
      width: 33.333333%;
      
      @media (max-width: $mobile) {
        width: 100%;
        padding: 0 40px;
      }
    }
  }

  &--col4 {
    .news-card__col {
      width: 25%;
      
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}
