$cart-image-width: 20%;
$cart-info-width: 20%;
$cart-price-width: 20%;
$cart-qty-width: 20%;
$cart-sum-width: 20%;

.cart {
	width: 100%;
	max-width: 670px;

	&-heading {
		margin: 0 0 60px 0;
		
		@media (max-width: $mobile) {
			margin: 0 0 32px 0;
		}

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
				margin: 0 0 12px 0;
			}
		}

		p {
			max-width: 360px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666;
			
			@media (max-width: $mobile) {
				font-size: 14px;
				line-height: 137%;
			}
		}
	}

	&-hat {
		display: flex;
		align-items: center;

		height: 21px;
		margin: 0 0 17px 0;
		padding: 0 20px;

		background-color: #f5f5f5;
		border-radius: 6px;

		font-size: 10px;
		line-height: 100%;
		color: $black;
		
		@media (max-width: $mobile) {
			display: none;
		}

		&__title {
			width: $cart-image-width + $cart-info-width;
		}

		&__price {
			width: $cart-price-width;
		}

		&__qty {
			width: $cart-qty-width;
		}

		&__sum {
			width: $cart-sum-width;
			text-align: right;
		}
	}

	&-list {
	}

	&-item {
		$this: &;

		position: relative;
		padding: 12px 20px 12px 12px;

		background-color: #fff;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
		border-radius: 16px;

		&:not(:last-child) {
			margin-bottom: 10px;
			
			@media (max-width: $mobile) {
				margin-bottom: 8px;
			}
		}

		&:hover {
			.qty__plus,
			.qty__minus,
			#{$this}__remove {
				opacity: 1;
			}
		}

		@media (max-width: $mobile) {
			padding: 16px;
		}

		&__wrapper {
			display: flex;
			align-items: center;

			min-height: 90px;
			
			@media (max-width: $mobile) {
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
			}
		}

		&__image {
			display: flex;
			justify-content: center;
			-webkit-align-items: center;
			        align-items: center;

			width: $cart-image-width;
			margin: 0 20px 0 0;

			box-sizing: border-box;
			position: relative;
			-webkit-border-radius: 6px;
			        border-radius: 6px;
			overflow: hidden;
			background: #FFF;
			
			&:after {
				height: 0;
				content: ' ';
				padding-bottom: 100%;
			}
			
			@media (max-width: $mobile) {
				
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				padding: 10px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				position: absolute;
				object-fit: contain;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				@media (max-width: $mobile) {
					height: 100%;
					background: #fff;
					-webkit-border-radius: 10px;
					        border-radius: 10px;
					object-fit: contain;
				}
			}
		}

		&__info {
			width: $cart-info-width;
			
			@media (max-width: $mobile) {
				width: calc(80% - 20px);
				position: relative;
			}

			h4 {
				margin: 0 0 7px 0;

				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
			}

			p {
				margin: 0 0 2px 0;

				font-size: 10px;
				line-height: 130%;
				color: #6D6D6D;
				
				@media (max-width: $mobile) {
					margin: 0;
				}
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: $green;
					
					@media (max-width: $mobile) {
						color: inherit;
					}
				}
			}

			.js-cart-more-toggle {
				font-size: 10px;
				color: #6D6D6D;
				text-decoration: underline;
				
				@media (max-width: $mobile) {
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}

		&__price {
			width: $cart-price-width;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			
			@media (max-width: $mobile) {
				width: 40%;
				margin-top: 12px;
				order: 2;
				text-align: left;
				padding-left: 20px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
		}

		&__qty {
			width: $cart-qty-width;
			
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			
			@media (max-width: $mobile) {
				width: 20%;
				text-align: center;
				position: relative;
			}

			.qty__plus,
			.qty__minus {
				opacity: 0;

				transition: opacity 200ms ease-in-out;
				
				@media (max-width: $mobile) {
					opacity: 1;
				}
			}

			@media (max-width: $mobile) {
				margin-top: 12px;
				order: 1;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				
				span {
					&.visible-xs {
						display: inline-block;
					}
				}
			}
		}

		&__total {
			width: $cart-sum-width;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			text-align: right;
			
			@media (max-width: $mobile) {
				width: 40%;
				margin-top: 12px;
				order: 3;
				text-align: right;
			}
		}
		
		&__more {
			display: none;
			padding: 15px 0 5px 0;

			font-size: 10px;
			line-height: 18px;
			color: $black;
			
			ul {
				li {
					@media (max-width: $mobile) {
						font-size: 13px;
						margin-bottom: 5px;
						
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		&__remove {
			opacity: 0;
			position: absolute;
			top: 10px;
			right: 16px;

			display: block;
			width: 20px;
			height: 20px;

			text-indent: -9999px;

			transition: opacity 200ms ease-in-out;
			
			@media (max-width: $mobile) {
				opacity: 1;
			}

			&:hover {
				&:before,
				&:after {
					background-color: $red;
				}
			}

			&:before {
				content: ' ';

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				display: block;
				width: 12px;
				height: 2px;
				margin: auto;

				border-radius: 2px;
				background-color: #d9d9d9;

				transform: rotate(45deg);
				transition: background-color 200ms ease-in-out;
				
				@media (max-width: $mobile) {
					width: 10px;
				}
			}

			&:after {
				content: ' ';

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				display: block;
				width: 12px;
				height: 2px;
				margin: auto;

				border-radius: 2px;
				background-color: #d9d9d9;

				transform: rotate(-45deg);
				transition: background-color 200ms ease-in-out;
				
				@media (max-width: $mobile) {
					width: 10px;
				}
			}
		}
	}

	&-foot {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 20px 20px 20px 12px;
		
		@media (max-width: $mobile) {
			padding-left: 0;
			padding-right: 0;
		}

		&__total {
			width: $cart-price-width;
			margin-left: calc(40% + 10px);

			box-sizing: border-box;

			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;
			text-transform: uppercase;
			
			@media (max-width: $mobile) {
				margin-left: 0;
			}
		}

		&__qty {
			margin-right: auto;

			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;

			span {
				display: inline-block;
				width: 35px;

				text-align: center;
			}
		}

		&__sum {
			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;
			white-space: nowrap;
			text-align: right;
		}
	}

	&-controls {
		display: flex;
		justify-content: flex-end;

		.btn {
			width: 100%;
			max-width: 232px;
			
			@media (max-width: $mobile) {
				display: block;
				max-width: 160px;
				margin: 32px auto 0 auto;
				height: 42px;
				line-height: 42px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
			}
		}
	}


	// Empty
	&-empty {
		text-align: center;
		
		@media (max-width: $mobile) {
			height: calc(100vh - 103px);
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
		}

		h2 {
			margin: 0 0 30px 0;

			font-weight: bold;
			font-size: 26px;
			line-height: 100%;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
			}
		}

		p {
			margin: 0 0 70px 0;
			padding: 130px 0 0 0;

			background: url(../images/cart/bag-empty.png) center top no-repeat;
			background-size: 92px auto;

			font-size: 14px;
			line-height: 140%;
			color: #666;
		}

		.btn {
			min-width: 232px;
			
			@media (max-width: $mobile) {
				min-width: 158px;
				font-size: 14px;
				height: 42px;
				line-height: 42px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
			}
		}
	}
}