$cart-image-width: 20%;
$cart-info-width: 20%;
$cart-price-width: 20%;
$cart-qty-width: 30%;
$cart-sum-width: 10%;

.cart {
	width: 100%;
	max-width: 670px;

	&-heading {
		margin: 0 0 60px 0;

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
		}

		p {
			max-width: 360px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666;
		}
	}

	&-hat {
		display: flex;
		align-items: center;

		height: 21px;
		margin: 0 0 17px 0;
		padding: 0 20px;

		background-color: #f5f5f5;
		border-radius: 6px;

		font-size: 10px;
		line-height: 100%;
		color: $black;

		&__title {
			width: $cart-image-width + $cart-info-width;
		}

		&__price {
			width: $cart-price-width;
		}

		&__qty {
			width: $cart-qty-width;
		}

		&__sum {
			width: $cart-sum-width;
			text-align: right;
		}
	}

	&-list {
	}

	&-item {
		$this: &;

		position: relative;
		padding: 10px 20px 10px 20px;

		background-color: #f9f9f9;
		border-radius: 16px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:hover {
			.qty__plus,
			.qty__minus,
			#{$this}__remove {
				opacity: 1;
			}
		}

		&__wrapper {
			display: flex;
			align-items: center;

			min-height: 90px;
		}

		&__image {
			display: flex;
			justify-content: center;

			width: $cart-image-width;
			padding: 0 20px 0 0;

			box-sizing: border-box;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__info {
			width: $cart-info-width;

			h4 {
				margin: 0 0 7px 0;

				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
			}

			p {
				margin: 0 0 2px 0;

				font-size: 10px;
				line-height: 130%;
				color: #6D6D6D;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: $green;
				}
			}

			.js-cart-more-toggle {
				font-size: 10px;
				color: #6D6D6D;
				text-decoration: underline;
			}
		}

		&__price {
			width: $cart-price-width;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
		}

		&__qty {
			width: $cart-qty-width;
			
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;

			.qty__plus,
			.qty__minus {
				opacity: 0;

				transition: opacity 200ms ease-in-out;
			}
		}

		&__total {
			width: $cart-sum-width;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			text-align: right;
		}
		
		&__more {
			display: none;
			padding: 15px 0 5px 0;

			font-size: 10px;
			line-height: 18px;
			color: $black;
		}

		&__remove {
			opacity: 0;
			position: absolute;
			top: 10px;
			right: 10px;

			display: block;
			width: 20px;
			height: 20px;

			text-indent: -9999px;

			transition: opacity 200ms ease-in-out;

			&:hover {
				&:before,
				&:after {
					background-color: $red;
				}
			}

			&:before {
				content: ' ';

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				display: block;
				width: 12px;
				height: 2px;
				margin: auto;

				border-radius: 2px;
				background-color: #d9d9d9;

				transform: rotate(45deg);
				transition: background-color 200ms ease-in-out;
			}

			&:after {
				content: ' ';

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				display: block;
				width: 12px;
				height: 2px;
				margin: auto;

				border-radius: 2px;
				background-color: #d9d9d9;

				transform: rotate(-45deg);
				transition: background-color 200ms ease-in-out;
			}
		}
	}

	&-foot {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 20px;

		&__total {
			width: $cart-price-width;
			margin-left: $cart-image-width + $cart-info-width;

			box-sizing: border-box;

			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;
			text-transform: uppercase;
		}

		&__qty {
			margin-right: auto;

			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;

			span {
				display: inline-block;
				width: 35px;

				text-align: center;
			}
		}

		&__sum {
			font-weight: bold;
			font-size: 16px;
			line-height: 100%;
			color: $black;
			white-space: nowrap;
			text-align: right;
		}
	}

	&-controls {
		display: flex;
		justify-content: flex-end;

		.btn {
			width: 100%;
			max-width: 232px;
		}
	}
}