.cart {
	&-list {

	}

	&-item {
		padding: 10px 20px 10px 30px;

		background-color: #f9f9f9;
		border-radius: 16px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			min-height: 90px;
		}

		&__image {
			display: flex;
			justify-content: center;

			width: 100px;
			margin: 0 20px 0 0;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__info {
			h4 {
				margin: 0 0 7px 0;

				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
			}

			p {
				margin: 0 0 2px 0;

				font-size: 10px;
				line-height: 130%;
				color: #6D6D6D;
			}

			a {
				font-size: 10px;
				color: #6D6D6D;

				&:hover {
					color: $green;
				}
			}
		}

		&__price {
			margin: 0 auto;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
		}

		&__qty {
			margin: 0 auto 0 0;
			
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
		}

		&__total {
			margin-left: auto;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
		}
		
		&__more {
			display: none;
			padding: 15px 0 5px 0;

			font-size: 10px;
			line-height: 18px;
			color: $black;
		}
	}
}