.changepwd {
  &-heading {
		margin: 0 0 40px 0;

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
				
				margin: 0 0 12px 0;
			}
		}

		p {
			max-width: 360px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666;
		}
	}

	&-form {
		width: 100%;
		max-width: 360px;
		margin: 0 0 20px 0;

		.btn-submit {
			width: 100%;
			max-width: 230px;
			margin-top: 40px;
			
			@media (max-width: $mobile) {
				display: block;
				margin-top: 20px;
				width: 160px;
				min-width: 160px;
				max-width: 230px;
				margin-left: auto;
				margin-right: auto;
				height: 42px;
				line-height: 42px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
			}
		}
	}

	&-error {
		@media (max-width: $mobile) {
			max-width: 210px;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			margin: 0;

			font-size: 14px;
			color: $red;
			
			@media (max-width: $mobile) {
				text-align: center;
			}
		}
	}
}