.checkout {
	width: 100%;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;

	&-heading {
		margin: 0 0 80px 0;
		
		@media (max-width: $mobile) {
			margin: 0 0 40px 0;
		}

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
				margin: 0 0 12px 0;
			}
		}

		p {
			max-width: 360px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666;
			
			@media (max-width: $mobile) {
				line-height: 137%;
			}
		}
	}

	&-form {
		label {
			@media (max-width: 340px) {
				font-size: 12px;
			}
		}
		.inp-row {
			display: flex;
			margin: 0 -10px;

			&--street {
				@media (max-width: $mobile) {
					-webkit-flex-direction: column;
					    -ms-flex-direction: column;
					        flex-direction: column;
				    margin-bottom: 20px;
				}

				.inp-group {
					width: 100%;
					padding: 0 10px;

					&:last-child {
						width: 83px;
						min-width: 83px;
						
						@media (max-width: $mobile) {
							width: auto;
							margin: initial;
						}
					}
				}
			}

			&--card {
				margin: 0 -15px;

				.inp-group {
					width: 100%;
					padding: 0 15px;
					
					@media (max-width: 340px) {
						width: 33.33%;
						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
						    
						    input {
						    	-webkit-box-sizing: border-box;
						    	   -moz-box-sizing: border-box;
						    	        box-sizing: border-box;
						    }
					}

					&:first-child {
						width: 110px;
						min-width: 110px;
						
						@media (max-width: 340px) {
							width: 33.33%;
							min-width: 33.33%;
						}
					}

					label {
						@media (max-width: $mobile) {
							white-space: nowrap;
						}

						@media (max-width: 340px) {
							font-size: 12px;
						}
					}
				}
			}
		}

		&-row {
			margin: 0 0 100px 0;
			
			@media (max-width: $mobile) {
				margin: 0 0 64px 0;
			}

			&--last {
				margin-bottom: 30px;
			}

			h4 {
				margin: 0 0 40px 0;

				font-weight: bold;
				font-size: 16px;
				line-height: 100%;
				color: $black;
				
				@media (max-width: $mobile) {
					margin: 0 0 30px 0;
				}
			}
		}
	}

	&-info {
		margin: 0 0 70px 0;
		
		@media (max-width: $mobile) {
			margin: 0 0 60px 0;
		}

		ul {
			li {
				&:not(:last-child) {
					margin-bottom: 15px;
				}

				font-size: 16px;
			}
		}
	}

	&-controls {
		display: flex;
		justify-content: space-between;

		.btn-green {
			width: 100%;
			max-width: 232px;
			
			@media (max-width: $mobile) {
				max-width: 160px;
				height: 42px;
				line-height: 42px;
				display: block;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				margin-left: auto;
				margin-right: auto;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
			}
		}

		.btn-back {
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}

	& > .btn-back {
		@media (max-width: $mobile) {
			margin-bottom: 24px;
		}
	}
}