.mybikes {
	&-heading {
		margin: 0 0 50px 0;

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
				margin: 0 0 8px 0;
			}
		}

		p {
			max-width: 260px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: $black;
			
			@media (max-width: $mobile) {
				line-height: 126%;
			}
		}
	}

	&-list {
		margin-bottom: 90px;
		
		@media (max-width: $mobile) {
			margin-bottom: 50px;
		}
	}

	&-item {
		display: flex;
		margin: 0 0 40px 0;
		padding: 0 0 40px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #e6e6e6;
		}

		@media (max-width: $mobile) {
			margin: 0 0 32px 0;
			padding: 0 0 8px 0;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		&__image {
			width: 100%;
			max-width: 220px;
			margin: 0 40px 0 0;
			
			@media (max-width: $mobile) {
				max-width: 100%;
				margin: 0;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__title {
			margin: 20px 0 0 0;
			
			font-weight: bold;
			font-size: 13px;
			line-height: 100%;
			text-transform: uppercase;
			text-align: center;
		}

		&__body {
			display: flex;
			flex-direction: column;
			justify-content: center;

			flex-basis: 100%;
			
			@media (max-width: $mobile) {
				display: flex;
				-webkit-flex-direction: column-reverse;
				    -ms-flex-direction: column-reverse;
				        flex-direction: column-reverse;
				    -webkit-align-items: center;
				            align-items: center;
				    margin-bottom: 32px;
			}

			&-controls {
				@media (max-width: $mobile) {
					-webkit-flex-direction: column;
					    -ms-flex-direction: column;
					        flex-direction: column;
				    margin-top: 32px;
				    -webkit-align-items: flex-start;
				            align-items: flex-start;
				    
				    .mybikes-item__controls {
				    	margin-top: 16px;
				    }

				    .mybikes-item__text {
				    	p {
				    		margin-bottom: 0;
				    	}
				    }
				}
			}

			.btn--mini {
				min-width: 60px;
			}
		}

		&__in {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			width: 100%;
			max-width: 330px;
			
			@media (max-width: $mobile) {
				margin-top: 30px;
			}
		}

		&__text {
			h3 {
				margin: 0 0 20px 0;

				font-weight: bold;
				font-size: 24px;
				line-height: 110%;
				color: $black;
			}

			p {
				margin: 0 0 20px 0;

				font-size: 14px;
				line-height: 140%;
				color: #666;
			}

			h3 + p {
				margin-top: -15px;
			}
		}

		&__specs {
			margin: 0 0 24px 0;

			span {
				display: block;
				margin: 0 0 4px 0;

				b {
					font-size: 24px;
					line-height: 100%;
				}

				small {
					display: inline-block;
					margin: 0 3px;

					font-size: 12px;
					line-height: 100%;
					color: $black;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}

			p {
				margin: 0;

				font-size: 10px;
				line-height: 100%;
				color: #666;
			}

			&:first-child {
				@media (max-width: $mobile) {
					width: 100%;
				}
			}
		}

		&__controls {
			display: flex;
			
			@media (max-width: $mobile) {
				margin-top: 30px;
			}

			.btn {
				margin-right: 8px;
			}
		}
	}

	&-footer {
		p {
			margin: 0;

			font-size: 20px;
			line-height: 100%;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 18px;
			}
		}

		&__qrs {
			display: flex;
			margin-top: 50px;
			
			@media (max-width: $tablet) {
				display: none;
			}
		}

		&__qr {
			width: 97px;
			margin-right: 85px;
			
			img {
				display: block;
				width: 100%;
			}

			&-logo {
				width: 61px;
				margin-left: auto;
				margin-right: auto;
				height: auto;
				
				img {
					display: block;
					width: 100%;
				}
			}

			&-link {
				display: block;
				margin-top: 25px;
				text-align: center;
				
				a {
					font-size: 15px;
					color: $green;
					font-weight: bold;
					transition: all 0.4s;
					
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}