.myinfo {
	&-heading {
		margin: 0 0 40px 0;

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
			
			@media (max-width: $mobile) {
				font-size: 20px;
				margin: 0 0 12px 0;
			}
		}

		p {
			max-width: 260px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666666;
			
			@media (max-width: $mobile) {
				max-width: 100%;
			}
		}
	}

	&-form {
		width: 100%;
		max-width: 360px;

		.btn-submit {
			width: 100%;
			max-width: 232px;
			margin-top: 7px;
			
			@media (max-width: $mobile) {
				display: block;
				max-width: 160px;
				margin-left: auto;
				margin-right: auto;
				height: 42px;
				line-height: 42px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
		}
	}
}