.support-container {
  padding: 140px 0 60px 0;

  &--rounded {
    position: relative;

    &:before {
      content: " ";
  
      position: absolute;
      top: -54px;
      right: 0;
      left: 0;
  
      height: 54px;
  
      border-radius: 27px 27px 0 0;
      background-color: $white;
    }
  }
}

.support-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin: 0 -20px;

  &--col3 {
    .news-card__col {
      width: 33.333333%;
    }
  }

  &--col4 {
    .news-card__col {
      width: 25%;
    }
  }
}
