.auth {
	height: calc(100vh - #{$header-height});

	.wrapper {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 100%;
		padding-top: 40px;
		padding-bottom: 40px;

		box-sizing: border-box;
	}

	&-controls {
		z-index: 10;
		position: absolute;
		right: 0;
		left: 0;

		.wrapper {
			max-width: 800px;
			
			justify-content: flex-start;
		}
	}

	&-heading {
		margin: 0 0 40px 0;

		h2 {
			margin: 0 0 5px 0;

			font-weight: bold;
			font-size: 26px;
			color: $black;
		}

		p {
			max-width: 360px;
			margin: 0;

			font-size: 14px;
			line-height: 110%;
			color: #666;

			a {
				font-weight: bold;
				color: $green;
				text-decoration: none;

				&:hover {
					color: $black;
				}
			}
		}
	}
	
	&__in {
		width: 100%;
		max-width: 360px;
	}
}