.main-application {
  padding: 110px 0 220px 0;
  
  @media (max-width: $mobile) {
  	padding: 0 0 100px 0;
  }

  &__heading {
    margin: 0 0 75px 0;
    
    @media (max-width: $mobile) {
    	margin: 0 0 20px 0;
    }

    h2 {
      margin: 0;

      font-weight: bold;
      font-size: 60px;
      color: $dark;
      
      @media (max-width: $mobile) {
      	font-size: 20px;
      }
    }

    p {
      margin: 0;

      font-weight: bold;
      font-size: 24px;
      color: $green;
      
      @media (max-width: $mobile) {
      	font-size: 13px;
      }
    }
  }

  &__text {
    margin: 0 0 170px 0;
    
    @media (max-width: $mobile) {
    	margin: 0 0 100px 0;
    }

    p {
      margin: 0;

      font-weight: bold;
      font-size: 60px;
      line-height: 105%;
      color: $dark;
      
      @media (max-width: $mobile) {
      	font-size: 20px;
      }
    }
  }

  &__in {
    display: flex;
  }

  &__features {
		width: 50%;
		padding: 25px 0 0 0;
		
		@media (max-width: $mobile) {
			padding: 0;
		}

    ul {
      li {
				&:not(:last-child) {
					margin-bottom: 4px;
				}

        font-weight: bold;
				font-size: 60px;
				color: $dark;
        text-align: right;
        
        @media (max-width: $mobile) {
        	font-size: 20px;
        }
      }
    }
  }

  &__phone {
		width: 50%;
		padding-left: 13%;

		box-sizing: border-box;
		
		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0 0 95px 0;
			
			@media (max-width: $mobile) {
				margin: 0 0 24px 0;
			}
		}
	}
	
	&__download {
		&--ap {
			a {
				width: 156px;
				height: 54px;

				background: url(../images/icons/appstore.png) no-repeat;
				background-size: 100% auto;
				
				@media (max-width: $mobile) {
					width: 70px;
				}
			}
		}

		&--gp {
			a {
				width: 185px;
				height: 54px;

				background: url(../images/icons/googleplay.png) no-repeat;
				background-size: 100% auto;
				
				@media (max-width: $mobile) {
					width: 75px;
				}
			}
		}

		ul {
			display: flex;
			justify-content: center;
			
			@media (max-width: $mobile) {
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}

			li {
				&:not(:last-child) {
					margin-right: 45px;
				}

				a {
					display: block;
					text-decoration: none;

					text-indent: -9999px;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}
