.main-battery {
	padding: 100px 0 160px 0;
  
  @media (max-width: $mobile) {
    padding: 0 0 100px 0;
  }

  .tabs {
    &__nav {
      ul {
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
	
  &__heading {
    margin: 0 0 75px 0;
    
    @media (max-width: $mobile) {
      margin: 0 0 24px 0;
    }

    h2 {
      margin: 0;

      font-weight: bold;
      font-size: 60px;
      color: $white;
      
      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }

    p {
      margin: 0;

      font-weight: bold;
      font-size: 24px;
      color: $green;
      
      @media (max-width: $mobile) {
        font-size: 13px;
      }
    }
  }

  &__text {
    margin: 0 0 230px 0;
    
    @media (max-width: $mobile) {
      margin: 0 0 100px 0;
    }

    p {
      margin: 0;

      font-weight: bold;
      font-size: 60px;
      line-height: 105%;
      color: $white;
      
      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }
  }

  &__image {
    margin: 0 0 200px 0;
    
    @media (max-width: $mobile) {
      margin: 0 0 100px 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
