<footer class="footer">
  <div class="wrapper">
    <div class="footer__logo">
      <a href="#">
				<svg class="icon logo-forestal-min">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-forestal-min"></use>
				</svg>
			</a>
    </div>

    <div class="footer__text">
      <p>
        If any provision (or part of any provision) of these Terms & Conditions
        is found to be illegal, invalid or unenforceable under any applicable
        law, such term shall, insofar as it is severable from the remaining
        terms, be deemed omitted from this agreement and shall in no way affect
        the legality, validity or enforceability of the remaining terms.If any
        provision (or part of any provision) of these Terms & Conditions is
        found to be illegal, invalid or unenforceable under any applicable law,
        such term shall, insofar as it is severable from the remaining terms, be
        deemed omitted from this agreement and shall in no way affect the
        legality, validity or enforceability of the remaining terms.If any
        provision (or part of any provision) of these Terms & Conditions is
        found to be illegal, invalid or unenforceable under any applicable law,
        such term shall, insofar as it is severable from the remaining terms, be
        deemed omitted from this agreement and shall in no way affect the
        legality
      </p>
    </div>

    <div class="footer__navs">
      <nav class="footer__nav">
        <h5>Shop and ride</h5>
        <ul>
          <li><a href="#">fenyx</a></li>
          <li><a href="#">Sagyta</a></li>
          <li><a href="#">Cygnus</a></li>
          <li><a href="#">Cyon</a></li>
          <li><a href="#">Aryon</a></li>
          <li><a href="#">Hydra</a></li>
          <li><a href="#">Lyra</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Hot link</h5>
        <ul>
          <li><a href="#">Bikes</a></li>
          <li><a href="#">Factory</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Wear</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Marketing</h5>
        <ul>
          <li><a href="#">Press release</a></li>
          <li><a href="#">Photo bank</a></li>
          <li><a href="#">Brand book</a></li>
          <li><a href="#">Cyon</a></li>
          <li><a href="#">Aryon</a></li>
          <li><a href="#">Hydra</a></li>
          <li><a href="#">Lyra</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Forestal Values</h5>
        <ul>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer__bt">
      <div class="footer__copy">
        <p>Copyright © 2019 forestal Inc. All rights reserved.</p>
      </div>

      <div class="footer__links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Sales and Refunds</a></li>
          <li><a href="#">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
