<div class="cookie">
  <div class="wrapper">
    <div class="cookie__in">
      <div class="cookie__l">
        <div class="cookie__headline">
          <span>This website uses cookies</span>
        </div> <!-- .cookie__headline -->

        <div class="cookie__content">
          <p>We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. <a href="#">Legal link</a></p>
        </div> <!-- .cookie__content -->
      </div> <!-- .cookie__l -->

      <div class="cookie__r">
        <button class="btn btn-gray visible-xs">Cancel</button>
        <button class="btn btn-green">Apply</button>
      </div> <!-- .cookie__r -->
    </div> <!-- .cookie__in -->
  </div> <!-- .wrapper -->
</div> <!-- .cookie -->

<footer class="footer">
  <div class="wrapper">
    <div class="footer__logo">
      <a href="#">
				<svg class="icon logo-forestal-min">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-forestal-min"></use>
				</svg>
			</a>
    </div>

    <div class="footer__text">
      <p>
        If any provision (or part of any provision) of these Terms & Conditions
        is found to be illegal, invalid or unenforceable under any applicable
        law, such term shall, insofar as it is severable from the remaining
        terms, be deemed omitted from this agreement and shall in no way affect
        the legality, validity or enforceability of the remaining terms.If any
        provision (or part of any provision) of these Terms & Conditions is
        found to be illegal, invalid or unenforceable under any applicable law,
        such term shall, insofar as it is severable from the remaining terms, be
        deemed omitted from this agreement and shall in no way affect the
        legality, validity or enforceability of the remaining terms.If any
        provision (or part of any provision) of these Terms & Conditions is
        found to be illegal, invalid or unenforceable under any applicable law,
        such term shall, insofar as it is severable from the remaining terms, be
        deemed omitted from this agreement and shall in no way affect the
        legality
      </p>
    </div>

    <div class="footer__navs">
      <nav class="footer__nav">
        <h5>Shop and ride</h5>
        <ul>
          <li><a href="#">Siryon</a></li>
          <li><a href="#">Cyon</a></li>
          <li><a href="#">Aryon</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>My account</h5>
        <ul>
          <li><a href="#">Forestal ID</a></li>
          <li><a href="#">Order tracking</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Marketing</h5>
        <ul>
          <li><a href="#">Press release</a></li>
          <li><a href="#">Media Library</a></li>
          <li><a href="#">Brand book</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Forestal Values</h5>
        <ul>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Innovation</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h5>Company</h5>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">The forestal brand</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Forestal Technology Centre</a></li>
          <li><a href="#">Production Priveée</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer__bt">
      <div class="footer__copy">
        <p>Copyright © 2019 forestal Inc. All rights reserved.</p>
      </div>

      <div class="footer__links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Sales and Refunds</a></li>
          <li><a href="#">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
