<header class="header">
  <div class="wrapper">
    <div class="header__logo">
      <a href="@@webRoot/index.html">
        <svg class="icon logo-forestal">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#logo-forestal"
          ></use>
        </svg>
      </a>
    </div>

    <nav class="header__nav">
      <ul>
        <li><a href="#">Enduro</a></li>
        <li><a href="#">Trail</a></li>
        <li><a href="#">City</a></li>
        <li><a href="@@webRoot/news.html">News</a></li>
        <li><a href="@@webRoot/support.html">Support</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <nav class="header__controls">
      <ul>
        <li>
          <a href="@@webRoot/cart.html">
            <svg class="icon icon-cart">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#icon-cart"
              ></use>
            </svg>
          @@if (context.label){
            <div class="label">@@label</div>
          }
          </a>
        </li>

        <li>
          <a href="@@webRoot/myinfo.html">
            <svg class="icon icon-profile">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#icon-profile"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
