<header class="header">
  <div class="wrapper">
    <div class="header__logo">
      <a href="#">
        <svg class="icon logo-forestal">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#logo-forestal"
          ></use>
        </svg>
      </a>
    </div>

    <nav class="header__nav">
      <ul>
        <li><a href="#">Enduro</a></li>
        <li><a href="#">Trail</a></li>
        <li><a href="#">City</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <nav class="header__controls">
      <ul>
        <li>
          <a href="#">
            <svg class="icon icon-cart">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#icon-cart"
              ></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="#">
            <svg class="icon icon-profile">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#icon-profile"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
