.specs {
  $this: &;
  
  @media (max-width: $mobile) {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  display: flex;
  flex-wrap: wrap;

  &--white {
    #{$this}__item {
      color: $white;
    }
  }

  &__col {
    width: 33.3333333%;
    margin: 0 0 100px 0;
    
    @media (max-width: $mobile) {
      width: 100%;
      margin: 0 0 40px 0;
    }
  }

  &__item {
    width: 100%;
    max-width: 225px;

    color: $black;
    
    @media (max-width: $mobile) {
      max-width: 100%;
    }

    h3 {
      margin: 0 0 10px 0;

      font-weight: bold;
      font-size: 65px;
      
      @media (max-width: $mobile) {
        font-size: 45px;
      }

      small {
        font-size: 22px;
      }
    }

    p {
      margin: 0;

      font-weight: 500;
    }
  }
}