.tabs {
  $this: &;
  
  &--white {
    #{$this}__nav {
      ul {
        border-bottom-color: $gray;

        li {
          a {
            color: $white;
          }

          &:not(.active) {
            a {
              &:hover {
                color: $green;
              }
            }
          }
        }
      }
    }
  }

  &__nav {
    position: relative;
    margin: 0 0 50px 0;
    
    @media (max-width: $mobile) {
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
    }

    ul {
      display: inline-flex;
      border-bottom: 1px solid $green;

      li {
        &:not(:last-child) {
          margin-right: 50px;
        }

        &:not(.active) {
          a {
            &:hover {
              color: $gray;
            }
          }
        }

        a {
          display: inline-block;
          padding: 0 0 10px 0;

          font-weight: bold;
          font-size: 15px;
          color: $black;
          text-decoration: none;
        }
      }
    }

    &-line {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 0px;
      height: 1px;

      background-color: $black;

      transition: all 200ms ease;
    }
  }

  &__content {
  }
}

.tab-content {
  @media (max-width: $mobile) {
    #orders .cart-item__qty {
      text-align: center;
      left: 0;
    }
  }
}
