.customize {
  padding: 50px 0 100px 0;
  
  @media (max-width: $mobile) {
  	padding-top: 24px;
  	padding-bottom: 50px;
  }

  &__in {
	margin: 0 0 50px 0;

	    .wrapper {
			display: flex;
			position: relative;
	      
	      @media (max-width: $mobile) {
	      	-webkit-flex-direction: column;
	      	    -ms-flex-direction: column;
	      	        flex-direction: column;
	      }
	    }
	}	
	
	&-photo {
		//width: 50%;
		padding: 0 110px 0 40px;

		box-sizing: border-box;

		width: 552px!important;
		position: absolute;
		left: 0;
		
		@media (max-width: $mobile) {
			width: 100%!important;
			position: static;
			padding: 0;
			margin: 0 0 32px 0;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&-info {
		width: 100%;
		padding: 0 40px 0 0;
		margin-left: 50%;

		box-sizing: border-box;
		
		@media (max-width: $mobile) {
			width: 100%;
			padding: 0;
			margin-left: 0;
		}

		&-title {
			@media (max-width: $mobile) {
				margin: 0 0 24px 0;
			}

			h1 {
				margin: 0 0 20px 0;

				font-weight: bold;
				font-size: 36px;
				line-height: 100%;
				color: $black;
				
				@media (max-width: $mobile) {
					font-size: 24px;
					margin: 0;
				}
			}
		}

		&-specs {
			margin: 0 0 50px 0;

			font-size: 13px;
			line-height: 150%;
			color: $dark;
			
			@media (max-width: $mobile) {
				margin: 0 0 27px 0;
			}
			
			ul {
				li {
					@media (max-width: $mobile) {
						font-size: 13px;
					}
				}
			}
		}
	}

	&-select {
		&__heading {
			h3 {
				margin: 0 0 20px 0;

				font-weight: bold;
				font-size: 20px;
				line-height: 100%;
				color: $black;
			}
		}

		&__list {
			margin: 0 0 50px 0;
			
			@media (max-width: $mobile) {
				margin: 0 0 40px 0;
			}
		}

		&-item {
			$this: &;

			position: relative;
			
			display: block;

			cursor: pointer;

			&:not(:last-child) {
				margin-bottom: 16px;
			}

			input {
				position: absolute;
				top: 0;

				opacity: 0;
				visibility: hidden;
			}

			input:checked + #{$this}__in {
				background-color: #f6f6f6;

				&:before {
					opacity: 1;
					visibility: visible;
				}

				@media (max-width: $mobile) {
					.customize-select-item__price {
						&:before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

			&__in {
				position: relative;

				display: flex;
				justify-content: space-between;
				align-items: center;

				min-height: 93px;
				border: 1px solid #e3e3e3;
				padding: 20px 20px 20px 55px;

				border-radius: 16px;

				box-sizing: border-box;

				transition: all 200ms ease;
				
				@media (max-width: $mobile) {
					padding: 16px;
				}

				&:before {
					content: ' ';

					opacity: 0;
					visibility: hidden;

					position: absolute;
					top: 50%;
					left: 20px;

					display: block;
					width: 5px;
					height: 15px;
					margin-top: -6px;
					border-right: 4px solid $green;
					border-bottom: 4px solid $green;

					transform: rotate(45deg) translate(0,-50%);
					transition: all 200ms ease;
					
					@media (max-width: $mobile) {
						display: none;
					}
				}
			}

			&__text {
				width: 100%;
				max-width: 325px;

				font-size: 16px;
				line-height: 140%;
				color: $dark;
				
				@media (max-width: $mobile) {
					font-size: 14px;
				}
			}

			&__price {
				padding: 0 0 0 30px;

				font-size: 16px;
				line-height: 140%;
				color: $dark;
				white-space: nowrap;
				
				@media (max-width: $mobile) {
					font-size: 14px;
					position: relative;
					
					&:before {
						content: ' ';

						opacity: 0;
						visibility: hidden;

						position: absolute;
						top: -5px;
						left: 30px;
						right: 0;
						margin-left: auto;
						margin-right: auto;

						display: block;
						width: 5px;
						height: 15px;
						margin-top: -6px;
						border-right: 4px solid $green;
						border-bottom: 4px solid $green;

						transform: translate(0,-100%) rotate(45deg);
						transition: all 200ms ease;
					}
				}
			}
		}
	}

	&-foot {
		z-index: 50;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;

		border-top: 1px solid #e6e6e6;
		padding: 10px 0;

		background: rgba(245,245,245, 0.8);
      	-webkit-backdrop-filter: saturate(180%) blur(10px);
		
		@media (max-width: $mobile) {
			background: #FFF;
			padding: 10px 0 20px 0;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			@media (max-width: $mobile) {
				position: relative;

				flex-direction: column;
				align-items: flex-start;
			}
		}

		&__total {
			margin: 0 50px 0 0;
			padding: 0 0 0 40px;

			font-weight: bold;
			font-size: 36px;
			line-height: 100%;
			color: $black;
			
			@media (max-width: $mobile) {
				width: 100%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				margin: 0;
				padding: 0 160px 0 0;
				font-size: 17px;
				height: 42px;
				display: flex;
				-webkit-align-items: center;
				        align-items: center;
			}
		}

		&__info {
			width: 100%;
			max-width: 285px;
			margin-right: auto;
			
			@media (max-width: $mobile) {
				max-width: 100%;
				margin-top: 16px;
			}

			p {
				margin: 0;

				font-size: 14px;
				line-height: 130%;
				color: $gray;
			}
		}

		&__button {
			width: 50%;
			padding: 0 40px 0 0;

			box-sizing: border-box;
			
			@media (max-width: $mobile) {
				padding: 0;
				position: absolute;
				top: 0;
				right: 24px;
			}

			.btn {
				width: 100%;
				min-width: 230px;
				
				@media (max-width: $mobile) {
					border-radius: 10px;
					min-width: 160px;
					height: 42px;
					line-height: 42px;
				}
			}
		}
	}

	&-spec {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto 50px auto;

		table {
			width: 100%;
			
			@media (max-width: $mobile) {
				border-collapse: collapse;
			}

			th {
				padding: 0 40px 40px 0;

				box-sizing: border-box;

				font-weight: bold;
				font-size: 19px;
				color: $black;
				text-align: left;

				@media (max-width: $mobile) {
					font-size: 13px;
					padding: 0 16px 0px 0;
					vertical-align: top;
				}

				&:first-child {
					width: 25%;
				}

				&:last-child {
					width: 50%;
				}
			}

			td {
				min-height: 94px;
				border-bottom: 1px solid #e6e6e6;
				padding: 40px 40px 17px 0;

				font-size: 16px;
				line-height: 130%;
				color: $dark;

				&:first-child {
					font-size: 19px;
					
					@media (max-width: $mobile) {
						font-size: 13px;
					}
				}

				@media (max-width: $mobile) {
					vertical-align: top;
					font-size: 13px;
					min-height: initial;
					padding: 16px 16px 16px 0;
				}
			}

			tr {
				&:last-child {
					td {
						@media (max-width: $mobile) {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}
