.footer {
  z-index: 5;
  position: relative;
  background-color: $white;

  .wrapper {
    @media (max-width: $mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    padding: 45px 0;
    
    @media (max-width: $mobile) {
      padding: 30px 0;
    }

    svg {
      width: 145px;
      height: 7px;
      
      @media (max-width: $mobile) {
        width: 133px;
      }
    }
  }

  &__text {
    margin: 0 0 90px 0;
    
    @media (max-width: $mobile) {
      padding: 0 40px;
      margin: 0 0 32px 0;
    }

    p {
      margin: 0;

      font-size: 13px;
      line-height: 18px;
      color: #999;
      
      @media (max-width: $mobile) {
        font-size: 10px;
      }
    }
  }

  &__navs {
    display: flex;
    
    @media (max-width: $mobile) {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
        padding: 0 40px;
    }
  }

  &__nav {
    width: 16.6666667%;
    margin: 0 0 100px 0;
    
    @media (max-width: $mobile) {
      width: 50%;
      margin-bottom: 40px;
    }

    h5 {
      margin: 0 0 30px 0;

      font-weight: bold;
      font-size: 13px;
      color: $black;
      
      @media (max-width: $mobile) {
        margin: 0 0 18px 0;
      }
    }

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 26px;
          
          @media (max-width: $mobile) {
            margin-bottom: 12px;
          }
        }

        a {
          font-size: 13px;
          color: $black;
          text-decoration: none;

          &:hover {
            color: $gray;
          }
        }
      }
    }
  }

  &__bt {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid $gray;
    padding: 10px 0;
    
    @media (max-width: $mobile) {
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
        padding: 23px 0 50px 0;
    }
  }

  &__copy {
    @media (max-width: $mobile) {
      margin-top: 40px;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin: 0;

      font-size: 13px;
      color: $black;
      
      @media (max-width: $mobile) {
        text-align: center;
        line-height: 160%;
      }
    }
  }

  &__links {
    margin: 0 35px 0 0;
    
    @media (max-width: $mobile) {
      margin: 0;
    }

    ul {
      display: flex;
      align-items: center;
      
      @media (max-width: $mobile) {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 240px;
      }

      li {
        &:not(:last-child) {
          margin-right: 15px;

          &:after {
            content: "|";
            margin-left: 15px;
          }
        }

        @media (max-width: $mobile) {
          line-height: 150%;
        }

        a {
          font-size: 13px;
          color: $black;
          text-decoration: none;
          
          @media (max-width: $mobile) {
            font-size: 12.75px;
          }

          &:hover {
            color: $gray;
          }
        }
      }
    }
  }

  &-lang {
    position: relative;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
      padding-left: 40px;
    }

    &__current {
      display: inline-block;
      
      font-size: 12px;
      line-height: 100%;
      color: #b3b3b3;
      text-transform: uppercase;

      cursor: pointer;

      &:hover {
        color: $dark;
      }
    }

    &__select {
      position: absolute;
      right: 0;
      bottom: 40px;
      
      display: none;
      min-width: 101px;
      padding: 2px 15px;

      box-sizing: border-box;
      border-radius: 8px;
      background-color: #f4f4f4;

      @media (max-width: $mobile) {
        right: initial;
        bottom: 30px;
        left: 40px;
      }

      ul {
        li {
          a {
            display: flex;
            align-items: center;

            padding: 13px 0;

            color: $black;
            text-decoration: none;

            &:hover {
              color: $dark;
            }
          }

          &.is-active {
            opacity: 0.4;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }

    &__flag {
      margin: -2px 20px 0 0;

      img {
        display: block;
        width: 17px;
        height: 11px;
      }
    }

    &__name {
      font-size: 13px;
      line-height: 100%;
    }
  }
}

.menu {
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  transition: all 0.5s;
  transform: translate3d(0, -100%, 0);

  @media (min-width: $mobile) {
    display: none;
  }
  
  &__in {
    padding-left: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
    ul {
      li {
        margin-bottom: 48px;
        transition: all 0.5s;
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        
        &:first-child {
          transition-delay: 0.35s;
        }

        &:nth-child(2) {
          transition-delay: 0.4s;
        }

        &:nth-child(3) {
          transition-delay: 0.45s;
        }
        
        &:nth-child(4) {
          transition-delay: 0.5s;
        }

        &:nth-child(5) {
          transition-delay: 0.55s;
        }

        &:nth-child(6) {
          transition-delay: 0.6s;
        }

        &:nth-child(7) {
          transition-delay: 0.7s;
        }

        &:nth-child(8) {
          transition-delay: 0.75s;
        }

        &:nth-child(9) {
          transition-delay: 0.8s;
        }

        &:nth-child(10) {
          transition-delay: 0.85s;
        }
        
        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-size: 21px;
          color: #4A4A4A;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  &--opened {
    .menu {
      transform: translate3d(0, 0, 0);
      ul {
        li {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}