.header {
  z-index: $header-zindex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: $white;
  
  &__burger {
    width: 24px;
    height: 24px;
    margin-right: 32px;
    display: none;
    position: relative;
    -webkit-align-items: center;
            align-items: center;
    margin-left: -6px;
    
    @media (max-width: $mobile) {
      display: flex;
    }
    
    &.is-animated {
      i {
        top: 2px;
        transform: rotate(135deg);
        
        &:last-child {
          top: 2px;
          width: 12px;
          transform: rotate(-135deg);
        }
      }
    }
    
    &:hover {
      cursor: pointer;
    }
    
    &-in {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      width: 12px;
      margin-left: auto;
      margin-right: auto;
      height: 5px;
    }
    
    i {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      width: 12px;
      background: #4A4A4A;
      transition: all 0.4s;
      
      &:last-child {
        width: 9px;
        top: 4px;
      }
    }
  }
  
  @media (max-width: $mobile) {
    background: #FDFDFD;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
    
    @media (max-width: $mobile) {
      height: 56px;
    }
  }

  &__logo {
    svg {
      width: 180px;
      height: 50px;
      
      @media (max-width: $mobile) {
        width: 87px;
      }
    }

    @media (max-width: $mobile) {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
    }
  }

  &__nav {
    margin: 5px 7% 0 0;
    
    @media (max-width: $mobile) {
      display: none;
    }

    ul {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 50px;
        }

        a {
          font-size: 14px;
          color: $dark;
          text-decoration: none;

          &:hover {
            color: $gray;
          }
        }
      }
    }
  }

  &__controls {
    ul {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 30px;
        }

        a {
          position: relative;

          display: block;
          text-decoration: none;

          .icon {
            font-size: 21px;
          }

          &:hover {
            .icon {
              fill: $gray;
            }
          }
        }

        .label {
          position: absolute;
          top: 0;
          right: 0;

          transform: translate(33%,-50%);
        }
      }
    }
  }
}

.safari {
  .header {
    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
  }
}
